* {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Style the body */
body {
  font-family: arial;
  margin: 0;
}

/* Header */
.header {
  display: flex;
  justify-content: flex-end;
  padding: 0 auto;
  margin: 0 auto;
  font-size: auto;
}


/* Footer */
.footer {
  padding: 0 auto;
  margin: 0 auto;
  text-align: center;
  font-size: auto;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
  text-align: justify;
  letter-spacing: 1.6px;
  line-height: 1.6;
}

/* Sidebar */
.aside {
  flex: 30%;
  padding: 20px;
  text-align: center;
}

/* Card */
.card{
  margin: auto;
  text-align: center;
  position: relative;
  max-width:300px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 5px 40px rgba(0,0,0,0.2);
  transition: 0.5s;
}

.title {
  color: grey;
  font-size: 18px;
}

/* Skill Bar */
.skill-box {
  width: 80%;
  height: 1vh;
  background-color: #ddd;
}

.skills {
height: 1vh;
  text-align: right;
  padding-top: 0px;
  padding-bottom: 0px;
  color: white;
}

.sol {width: 80%; background-color: #2196F3;}
.aws {width: 70%; background-color: #2196F3;}
.web {width: 75%; background-color: #2196F3;}
.auto {width: 60%; background-color: #2196F3;}

/* Section Counter */
.counter-card {
  display: flex;
  flex-direction: row;
  text-align: center;
  color: white;
}

.counter-left {
  background-color: #77A6F7;
  padding: 20px; margin: 10px;
  flex: 50%;
  text-align: center;
}

.counter-right {
  background-color: #77A6F7;
  padding: 20px; margin: 10px;
  flex: 50%;
  text-align: center;
}

/* Responsive layout */
@media only screen and (max-width: 768px) {
 	 .row {
            flex-direction: column;
  	}
	.header {
	        display: flex;
 		    justify-content: center;
	}
	.counter-card {
		    display: flex;
		    flex-direction: column;
	}
}

/* Overlay */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #3B8BEb;
  overflow-y: auto;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 20%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  letter-spacing: 2px;
  line-height: 1.6;
}

.overlay p {
  padding: 8px;
  text-decoration: none;
  font-size: 24px;
  color: white;
  transition: 0.3s;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 24px;
  color: #C0C0C0;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
